*{
    background:black;

}
p{
  position: relative;
  color:white;
}
.row{
    background:#0E0E15;
    color:#F3F3F3;
    fontSize:40px;
    fontFamily:Karantina;
    lineHeight:48px;
    textTansform:capitalize;
    bottom:35px;
    marginLeft:10px;
}
.row1{
    background:#272734;
    border-bottom:solid 3px red;
    height:28px; 
    width:100%;
 
}
.row2{
    border:solid 2px red;
    background:#272734;
    height: 160px;
    width: 100%; 
   
}

.row3{

    background: #272734;
    height: 75px;
    width: 100%;
}
.row4{
    background:#272734;
    border:solid 2px blue;
    height:40px; 
    width:100%;
    
 
}
.row5{
    background:#272734;
    height:40px; 
    width:100%;
 
}
.col{
    color: var(--text, #F3F3F3);
    height:72px; 
    width:72px;
    margin-left:100px;
    float:left;
}

.box1{ 
    border:solid 2px yellow;
    background:#272734;
    width: 870px;
    height: 360px;
    margin:auto;
    
    
   
}
.box2{ 
    border:solid 2px yellow;
    background:#272734;
    width: 270px;
    height: 300px;
 
}
.box3{ 
    border:solid 2px blue;
    background:#272734;
    width: 660px;
    height: 300px;
    float:right;
 
}
.box4{ 
    border:solid 2px blue;
    background:#272734;
    height: 40px;
    float:left;
    width: 655px;
    margin-top:215px;   
 
}
.box5{ 
    
    background:#272734;
    border:solid 2px yellow;
    height: 40px;
    width: 50px;
    float:left;
}
.box6{ 
    background:#272734;
    border:solid 2px yellow;
    height: 40px;
    width: 50px;
    float:left;
}
.box7{ 
    background:#272734;
    border:solid 2px yellow;
    height: 40px;
    width: 50px;
    float:left;
}
.box8{ 
    background:#272734;
    border:solid 2px yellow;
    height: 40px;
    width: 50px;
    float:left;
}
.a{
    float:right;
}
p4{
    line-height: 45px;
    margin-left: 19px;
    background:#272734;
    
}

.row_0{

    background:#272734;
    height: 40px;
    width: 100%; 
   
}
.h1{
    margin-top:100px;

}
.row_1{

    background:#272734;
    height: 40px;
    width: 100%; 
   
}
.row_2{

    background:#272734;
    height: 42px;
    width: 100%; 
   
}
.row_3{

    background:#272734;
    height: 28px;
    width: 100%; 
   
}
.col1{
    color:#F3F3F3;
    background:#272734;
    font-size: 35px;
    font-family: Karantina;
    font-weight: 400;
    line-height: 70px;
    width:190px;
    height:60px;

    float:left;

    
 
}


.col3{
    color:#F3F3F3;
    background:#272734;
    font-size: 25px;
    font-weight: 400;
    line-height: 300%;
    
    float:right;
    padding-right:10px;
    margin-right: 16px;
   

    
}
.col2{
    background:#272734;
    color:#F3F3F3;
    font-size: 25px;
    font-weight: 400;
    line-height: 300%;
    float:right;
    margin-right: 16px;

    
    
}
p1{
    background:#272734;
    color:#F3F3F3;
    font-size: 25px;
    margin-left:270px;   
}
p2{
    background:#272734;
    color:#F3F3F3;
    font-size: 36px;
    font-family: Kanit;
    text-transform: capitalize; 

}
p3{
    background:#272734;
    color:#F3F3F3;


    
}  
   
.col_1{

    margin-left:50px;
    width: 30px;
    height: 40px;
    padding: 0px 160px;
    background:#272734;
    

}

.logo1{
    height: 40px;
    width:130px;
    background:#272734;
}
.logo{
   
    margin-left:150px;
    position:relative;
    bottom:35px;
    background:#272734;
}













